body {
    background: #0e1013;
}

h1 {
    max-width: 480px;
    text-align: center;
    margin: 100px auto;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

h1::after {
    content: '|';
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}